/* ©2013 Ruben Verborgh - Multimedia Lab / iMinds / Ghent University */

html, textarea, button {
  font: 11pt/1.4 "Helvetiva Neue", Helvetica, Arial, sans-serif;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

.ldf-client .query {
  width: 100%;
  min-height: 10em;
}

.ldf-client pre {
  max-width: 600px;
  width: 100%;
  height: 20em;
  font-size: 9pt;
  overflow: scroll;
  border: 1px solid;
}

.ldf-client .log {
  color: #666;
}

.ldf-client button {
  font-weight: bold;
}
